TreinamentoWebService.Automation/Connected Services/VendaService/VendaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.101.145:9090/VendaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TreinamentoServiceApp.Contract" />
  <xs:element name="GetNfse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNfseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TreinamentoServiceApp.Contract" minOccurs="0" name="GetNfseResult" nillable="true" type="q1:NfseReponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TreinamentoServiceApp.Contract" minOccurs="0" name="GetVendaResult" nillable="true" type="q2:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>