TreinamentoWebService.Automation/Connected Services/VendaService/VendaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TreinamentoServiceApp.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TreinamentoServiceApp.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NfseReponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nfse" nillable="true" type="tns:Nfse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NfseReponse" nillable="true" type="tns:NfseReponse" />
  <xs:complexType name="Nfse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoVerificacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Servico" nillable="true" type="tns:Servico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nfse" nillable="true" type="tns:Nfse" />
  <xs:complexType name="Servico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discriminacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valores" nillable="true" type="tns:Valores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Servico" nillable="true" type="tns:Servico" />
  <xs:complexType name="Valores">
    <xs:sequence>
      <xs:element minOccurs="0" name="ValorLiquidoNfse" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorServicos" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Valores" nillable="true" type="tns:Valores" />
  <xs:complexType name="Venda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nfse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venda" nillable="true" type="tns:Venda" />
</xs:schema>