TreinamentoWebService.Automation/Connected Services/VendaService/VendaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VendaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.101.145:9090/VendaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.101.145:9090/VendaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.101.145:9090/VendaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TreinamentoServiceApp.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVendaService_GetNfse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNfse" />
  </wsdl:message>
  <wsdl:message name="IVendaService_GetNfse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNfseResponse" />
  </wsdl:message>
  <wsdl:message name="IVendaService_GetVenda_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVenda" />
  </wsdl:message>
  <wsdl:message name="IVendaService_GetVenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendaResponse" />
  </wsdl:message>
  <wsdl:portType name="IVendaService">
    <wsdl:operation name="GetNfse">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendaService/GetNfse" message="tns:IVendaService_GetNfse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendaService/GetNfseResponse" message="tns:IVendaService_GetNfse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVenda">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendaService/GetVenda" message="tns:IVendaService_GetVenda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendaService/GetVendaResponse" message="tns:IVendaService_GetVenda_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVendaService" type="tns:IVendaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNfse">
      <soap:operation soapAction="http://tempuri.org/IVendaService/GetNfse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVenda">
      <soap:operation soapAction="http://tempuri.org/IVendaService/GetVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VendaService">
    <wsdl:port name="BasicHttpBinding_IVendaService" binding="tns:BasicHttpBinding_IVendaService">
      <soap:address location="http://192.168.101.145:9090/VendaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>